/**GENERALES**/
:root{
    --bg-pri:rgb(255 216 22);
    --bg-sec:#747fcc;    
}

.bg-pri{ background-color:var(--bg-pri) }

.bg-sec{ background-color: var(--bg-sec) }

.sombra{
    text-shadow:0px 0px 5px #000000;
}
/**MENÚ**/
.nav-item a{
    font-family: 'Chilanka', cursive;
    font-weight: 600;
    
}

.nav-item a:hover{    
    box-shadow: 0px -3px 0px orange inset;
    
}


/**CARRUSEL**/

.carousel-inner img{
    
    max-height: 500px;
}


/**MEDIAS QUERIES***/

@media (max-width:576px){
    .cabeceras{
        font-size:2rem !important;
    }

    .footer h3{
        font-size: 1.2rem ;
    }

    .footer img{
        width:10vw;
    }
}

@media (max-width:765px){
    .card{
        
    }
}




